<div class="col col-xs-8 col-md-6 bg-dark h-100 text-white">
  <logo />
</div>
<div class="col col-xs-8 col-md-6 bg-light h-100">
  <h2>Sorry</h2>
  <p>We were unable to validate your authorization.</p>
</div>
