<div>
  <h2>Oops!</h2>
  <p>We encountered an error we didn't expect.</p>
  <p>Error message: ${input.error.message}</p>
  <p if(input.isdebug)>
    <code><pre>${input.error.stack}</pre></code>
  </p>
</div>
